{{# partial "modulecontent" }}
<div class="example-module-b">
  <h1>{{heading}}</h1>
  <p>{{body}}</p>
  <voya-button
    text="Example Page B"
    href="/#/example-module-a"
    icon-left="chevron-left"
    class="white">
  </voya-button>
</div>
{{/partial}}