<footer class="voya-footer">

  <section class="bottom">
    <div class="bg">
      <div class="footer-bg"></div>
      <div class="footer-bg-right-side"></div>
      <div class="footer-logo"></div>
    </div>
    <div class="wrap">
      <div class="container">
        <div class="social-links">
          <ul>
            <li>
              <a href="#" rel="external" data-tag="footer-nav-click" alt="Facebook"><span class="fa fa-facebook-square"></span></a>
            </li>
            <li>
              <a href="#" rel="external" data-tag="footer-nav-click" alt="Twitter"><span class="fa fa-twitter-square"></span></a>
            </li>
            <li>
              <a href="#" rel="external" data-tag="footer-nav-click" alt="Youtube"><span class="fa fa-youtube-square"></span></a>
            </li>
            <li>
              <a href="#" rel="external" data-tag="footer-nav-click" alt="Google Plus"><span class="fa fa-google-plus-square"></span></a>
            </li>
          </ul>
        </div>
        <nav class="footer-links" role="navigation">
          <ul>
            <li><a href="http://voya.com/terms-use" target="_blank" rel="external" data-tag="footer-nav-click" title="Terms of Use">Terms of Use</a></li>
            <li><a href="http://voya.com/terms-use/voya-security" target="_blank" rel="external" data-tag="footer-nav-click" title="Security">Security</a></li>
            <li><a href="http://voya.com/privacy-notice" target="_blank" rel="external" data-tag="footer-nav-click" title="Privacy Notice">Privacy Notice</a></li>
            <li><a href="http://voya.com/insurer-investor-disclosure" target="_blank" rel="external" data-tag="footer-nav-click" title="Disclosure">Insurer/Investor Disclosure</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</footer>
 