<div class="voya-header">
  <div class="voya-header-inner">
    <h1 title="Voya Financial">
      <a class="voya-header-brand" href="http://voya.com/">
        <img src="assets/images/logo.png" alt="Voya Financial" />
      </a>
    </h1>
  </div>
</div>
